*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
    .topbar {
      background: #2b2b2b;
      color: #ffffff;
      font-size: 14px;
      padding: 5px 0;
    }

    .topbar a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 20px;
    }

    .navbar-nav .nav-link.active {
      color: #d9534f !important; 
    }
.container1-about {
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
}
.container1-about div a {
    text-decoration: none;
    color: black;
    font-size: 0.8vw;
    font-weight: 600;
}
.container1-about div a:hover {
    color: #ff6600;
}
.container1-about div {
    margin-left: 5vw;
    margin-top: 1vw;
}
.container1-about h1 {
    margin-left: 5vw;
}
.nav-link:hover {
    color: #ff6600;
}
.bi:hover {
    color: #ff6600;
}

.Services-top{
    height: 15vh;
    background-color: #F8F8F8;
    padding: 20px 0 20px 7rem;
}
.Services-top h1{
    font-size: 28px;
    line-height: 33.6px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #545454;
}
.Services-top a{
    text-decoration: none;
    color: #E96B56;
}
.Services-top div{
    display: flex;
   align-items: center;
    text-align: center;
    gap: 10px;
}
.Services-top .spanslash{
    font-size: 12px;
    color: lightgrey;
}
.Services-top div a,div span{
    font-size: 15px;
}
.Services-top div{
    margin-bottom: 10px;
}
.MainServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 4rem;
}
.MainServices .OurServices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.MainServices .OurServices div{
    width: 410px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border: 1px solid lightgray;
    padding-inline: 25px;
    background-color: white;
    transition: .3s;
}
.MainServices .OurServices .icon-box{
    width: 65px;
    height: 65px;
    background-color: #E96B56;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px -7px 0px 0px #feded9;
   
    border: none;
}
.MainServices i{
    font-size: 28px;
    color: #fff;
}
.OurServices div h3{
    font-size: 25px;
    font-weight: 600;
    color: #545454;
}
.OurServices div p{
    font-size: 16px;
    font-weight: 400;
    color: #545454;
}
.OurServices div:hover{
    background-color: #E96B56;
    cursor: pointer;
}
.OurServices div:hover i{
    color: #E96B56;
}
.OurServices div:hover .icon-box{
    background-color: white;
        box-shadow: -7px -7px 0px 0px #f88e7e;
}
.OurServices div:hover h3{
    color: white;
}
.OurServices div:hover p{
    color: white;
}
.OurSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 7rem;
}
.OurSkills-top{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.OurSkills-top h1{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
    color: #545454;
}
.OurSkills-top h1::after{
    content: '';
    position: absolute;
    top: 3.5rem;
    left: 16.5rem;
    width: 50px;
    height: 3px;
    background-color: #E96B56;
}
.OurSkills-top p{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    font-weight: 400;
}
.OurSkills-main{
   display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 84.8%;
    
}
.OurSkills-main .SkillsImg img{
    width: 630px;
}
.RightSkills .blabla h1 {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #545454;
}
.RightSkills .blabla p{
    width:39.8rem;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    line-height: 24px;
    color: #797878;
}
.RightSkills .progressBar progress{
     width: 100%;
  height: 10px;
  border-radius: 0%;

}
.RightSkills .progressBar progress::-webkit-progress-value{
   background-color: #E96B56;
}
.RightSkills .progressBar progress::-webkit-progress-bar {
    background-color: #ECECEC;
}
.progressBars{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progressBar span{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #444444;
}
.spans{
    display: flex;
    justify-content: space-between;
}
@media (max-width:430px){
    .MainServices {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        width: 100%;
    }
    .MainServices .OurServices div{
        width: 100%;
        
    }

    .OurSkills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 13px;
        margin-inline: unset;
    }

    .RightSkills{
        width: 100%;
    }
    .RightSkills .blabla h1{
        width:100% ;
    }
    .MainServices .OurSkills .OurSkills-main{
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
       
    }
    .Services-top{
        padding: 20px 0 20px .7rem;
    }
    .OurSkills-main .SkillsImg img{
        width: 100%;
    }
    .OurSkills .OurSkills-top{
        width: 100%;
    }
   .RightSkills .blabla p {
    width:100%;
   }
       .MainServices .OurSkills .OurSkills-main {
        
        width: 100%;
       }
        .OurSkills-top h1::after{
            top: 3.5rem;
            left: 11rem;
            height: 2.5px;
        }
        .MainServices .OurServices{
            display: grid;
            width: 100%;
            padding-inline: 10px;
        }
    
}
/* *common items */

.text-color{
    color: #2b2b2b;
}
a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.color-orang
{
    color: #e96b56;
}

.color-white
{
    color: white;
}

.color-grey
{
    color: #b1b1b1;
}

.color-dark-grey
{
    color: #3c3c3c;
}
*


/* * header */

/* header part1 */
.home-header
{
    position: sticky;
    top: 0;
    width: 100vw;
    /* z-index: 999; */
}

.contact-separate
{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.fading-orang
{
    transition: all 0.25s;
}

.fading-orang:hover
{
    color: #e96b56;
}


.home-header-contact
{
    background-color: #3c3c3c ;
    padding: 1.25vh 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-contact-left
{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1.75vw;
}

.home-header-contact-right
{
    display: flex;
    align-items: center;
    gap: 1.45vw;
}



.home-header-contact-left-email>a:hover
{
    border-bottom: 1px #e96b56 solid ;
}
/* / */

/* header part 2 */

.home-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5vh 8vw;}

.home-header-nav-left{
    padding-left: 1vw;
}

.home-header-nav-left-logo
{
    font-size: 2vw;
    border-left: 10px #e96b56 solid;
    padding-left: 1vw;
}

.home-header-nav-hambutton
{
    display: none;
}

.home-header-nav-right
{
    display: flex;
}


.home-header-nav-right-item
{
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
}

.separat
{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.dropdown-og
{
    padding-bottom: 6vh; 
}

.home-header-nav-right-dropdown-menu
{
    display: none;
    background-color: white;
    position: absolute;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    transition: all 0.5s;
    padding-block: 1vh;
}

.drop-padding
{
    padding: 10px;
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown-menu
{
    display: none;
    background-color: white;
    position:absolute;
    width: max-content;
    right: 100%;
    top: 19%;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    transition: all 0.5s;
    padding-block: 1vh;
}

.deep-drop-padding
{
    padding: 10px;
    padding-right: 4vw;
    display: flex;
}

.home-header-nav-right-dropdown:hover ~  .home-header-nav-right-dropdown-menu
{
    display: flex;
}

.home-header-nav-right-dropdown-menu:hover
{
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown:hover ~ .home-header-nav-right-dropdown-DeepDropdown-menu
{
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown-menu:hover
{
    display: flex;
}
/* fin header part 2 */

/* *fin header */

/* *mid1 */

.mid1
/* {

    background-position: 100% 49%;
    background-size: cover;
    height: 71vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.mid1-chevron-right ,.mid1-chevron-left
{
    background-color: transparent;
    border: none;
    color: #ff6600;
    width: 10%;
    /* position: absolute; *
} */

.carousel-item {
  height: 70vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* * */



/* *mid2 */

/* TODO : FIX SVG COLOR TO ORANGE */

.strchlink
{
    margin-top: 4vh;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2vw;
    /* background-color: aqua; */
    margin-inline: 10vw;
}

.mid2-item
{
    display: flex;
    gap: 1vh;
    position: relative;
    flex-direction: column;
    color: black;
    padding: 7vh 2vw 2vh;
    transform: translateY(50px);
    animation: riseup 1s forwards;
    opacity: 0;
    
}


@keyframes riseup
{
   to
   {
    transform: translate(0);
    opacity: 1;
}
}



.strchlink :hover
{
    color: white;
}




.mid2-item::before
{
    content: "";
    position: absolute;  
    left: 0;
    top: 0;
    background-color: #d9534f;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s ease;
}

.mid2-item:hover::before
{
    transform: scaleY(1);
}


.mid2-item:nth-child(1)
{
    animation-delay: 0s;
}

.mid2-item:nth-child(2)
{
    animation-delay: 0.1s;
}
.mid2-item:nth-child(3)
{
    animation-delay: 0.2s;
}

.mid2-item>p
{
    width: 70%;
}



/* * fin mid2*/


/* *mid3 */

.mid3{
    display: flex;
    gap: 2vw;
    margin-inline: 10vw;
    margin-top: 10vh;
}

.mid3-right
{
    width: 100%;
    background-color: red;
    margin-top: 1vh;
}
.mid3-left  
{
    width: 100%;
    /* background-color: gold; */
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.mid3-right>img
{
    width: 100%;
    
}
.mid3-left>ul>li
{
    display: flex;
    margin-left: -30px;
    gap: 0.5vw;
}

li>svg
{
    flex-shrink: 0;
}
.bi2{
    color: #ffee00;
}
.logo {
    color: #272727;
    font-size: 1.5vw; 
}

/* *fin mid3 */

.font-st{
        color: rgb(255, 255, 255);
        font-size: large;
        margin-bottom: 1vw;
    }
    .input-footer{
        background-color: #464646;
        border: #333;
        border-radius: 10vw;
        width: 42vw;
        height: 5vh;
        position: relative;
    }
    .btn-footer{
        background: rgb(221, 106, 68);
        color: aliceblue;
        border-radius: 10vw;
        height: 2.3vw;
        width: 7vw;
        border:none;
        position: absolute;
        left: 63.5vw;
        z-index: 100000;
        
    }
    .bi3{
        border-radius: 700vw;
        border: #d9534f solid 1px;
        padding: 0.5vw;
        font-size: 1.5vw;
    }
    .bi3:hover{
        background-color: #d9534f;
        color: white;
        transition: 0.3s;
    }

    /* *mid5 */
    
    .mid5
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 10vw;
        text-align: center;
        position: relative;
        gap: 5vh;
    }

    .mid5-h2::after
    {
        content: "";

        display: block;
        width: 55%;
        margin-top: 3vh;
        margin-left: 25%;
        border-bottom: 3px #ff6600 solid;
    }

    .scroller
    {
        display: flex;
        width: 100%;
        overflow-x: auto;
        
    }
    
    .group
    {
        
        display: flex;
        animation: spin 20s infinite linear;
    }

    .card
    {
        width: 30vw;
    }
  
    .card>img
    {
        width: 7vw;
        filter: grayscale(100%);
    }

    .card>img:hover
    {
        filter: grayscale(0%);
    }


    @keyframes spin {
        from    
        {
            translate: 0;
        }

        to
        {
            translate: -100%;
        }
    }
    
    /* *fin mid5 */

    .contact{
        padding: 4rem 7rem ;
        display: grid;
        grid-template-rows: 10rem 25rem ;
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
    }
    .contact div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.05);
    }
    .contact .CallUs-Email{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 30px;
        box-shadow: unset;
        /* background-color: rebeccapurple; */
    }
    .CallUs-Email .Call-Us ,.CallUs-Email .Email-Us{
        
        /* background-color: red; */
        height: 100%;

    }
    .contact i{
        font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 24px;
        color: #E96B56;
        line-height: 36px;
        font-weight: 400;
        
    }
    .contact .icon-box{
        margin-bottom: 10px;
        width: 55px;
        height: 55px;
        border: #E96B56 dotted 1.6px;
        border-radius: 50%;
    }
 
    .contact div h3{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        color: #545454;
    }
    .contact div p{
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", 'Roboto' , "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 400;
        color: #444444;
    }
    .CallUs-Email{
        box-shadow: unset;
    }
    .SendMessage{
        padding: 30px;
        gap: 25px;
    }
    .SendMessage form{
        width: 100%;
    }
    .SendMessage .Name-Email input{
        width: 50%;
        height: 45px;
    }
    .Name-Email{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .Subject{
        width: 100%;
    }
    .Subject input{
        width: 100%;
        height: 45px;
    }
    textarea{
        width: 100%;
        height: 10rem;
    }
    .contact .SendMessage button{
        border: none;
        background-color: #E96B56;
        color: #fff;
        font-size:16px;
        font-weight: 400;
        line-height: 24px;
        box-shadow: unset;
    }
    .button-box{
        padding: 10px 30px;
        border: none;
        border-radius: 30px;
        background-color: #E96B56;
        color: #fff;
    }
    .SendMessage form input , textarea{
        padding: 10px;
        border: lightgray solid 1px;
        transition: .2s;
        outline: none;
    }
    .SendMessage form input:focus{
        border: #E96B56 solid 1px;
    }
    .SendMessage form input::placeholder{
        color: lightgray;
    }
    .SendMessage textarea:focus{
        border: #E96B56 solid 1px;
    }
.SendMessage textarea::placeholder{
    color: lightgray;
}
@media (max-width:768px){
    .contact{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .CallUs-Email{
        flex-direction: column;
    }
    .CallUs-Email .Call-Us ,.CallUs-Email .Email-Us{
        width: 100%;
    }
    .SendMessage .Name-Email{
        flex-direction: column;
        gap: 10px;
    }
    .SendMessage .Name-Email input{
        width: 100%;
    }


    .input-footer{
        background-color: #464646;
        border: #333;
        border-radius: 10vw;
        width: 60vw;
        height: 4vh;
        position: relative;
    }
    .btn-footer{
        background: rgb(221, 106, 68);
        color: aliceblue;
        border-radius: 10vw;
        height: 8vw;
        width: 19vw;
        border:none;
        position: absolute;
        left: 63.5vw;
        margin-right: 2vw;
}
}