*{
    margin: 0px;
    padding: 0px;
}
    .topbar {
      background: #2b2b2b;
      color: #ffffff;
      font-size: 14px;
      padding: 5px 0;
    }

    .topbar a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 20px;
    }

    .navbar-nav .nav-link.active {
      color: #d9534f !important; 
    }
.container1-about {
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
}
.container1-about div a {
    text-decoration: none;
    color: black;
    font-size: 0.8vw;
    font-weight: 600;
}
.container1-about div a:hover {
    color: #ff6600;
}
.container1-about div {
    margin-left: 5vw;
    margin-top: 1vw;
}
.container1-about h1 {
    margin-left: 5vw;
}
.nav-link:hover {
    color: #ff6600;
}
.bi:hover {
    color: #ff6600;
}

.Services-top{
    height: 15vh;
    background-color: #F8F8F8;
    padding: 20px 0 20px 7rem;
}
.Services-top h1{
    font-size: 30px;
    font-weight: 600;
    color: #545454;
}
.Services-top a{
    text-decoration: none;
    color: #E96B56;
}
.Services-top div{
    display: flex;
   align-items: center;
    text-align: center;
    gap: 10px;
}
.Services-top .spanslash{
    font-size: 12px;
    color: lightgrey;
}
.Services-top div a,div span{
    font-size: 15px;
}
.Services-top div{
    margin-bottom: 10px;
}
.MainServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 4rem;
}
.MainServices .OurServices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.MainServices .OurServices div{
    width: 410px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border: 1px solid lightgray;
    padding-inline: 25px;
    background-color: white;
    transition: .3s;
}
.MainServices .OurServices .icon-box{
    width: 65px;
    height: 65px;
    background-color: #E96B56;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px -7px 0px 0px #feded9;
   
    border: none;
}
.MainServices i{
    font-size: 28px;
    color: #fff;
}
.OurServices div h3{
    font-size: 25px;
    font-weight: 600;
    color: #545454;
}
.OurServices div p{
    font-size: 16px;
    font-weight: 400;
    color: #545454;
}
.OurServices div:hover{
    background-color: #E96B56;

}
.OurServices div:hover i{
    color: #E96B56;
}
.OurServices div:hover .icon-box{
    background-color: white;
        box-shadow: -7px -7px 0px 0px #f88e7e;
}
.OurServices div:hover h3{
    color: white;
}
.OurServices div:hover p{
    color: white;
}


/* *common items */

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.color-orang
{
    color: #e96b56;
}

.color-white
{
    color: white;
}

.color-grey
{
    color: #b1b1b1;
}

.color-dark-grey
{
    color: #3c3c3c;
}
*


/* * header */

/* header part1 */
.home-header
{
    position: sticky;
    top: 0;
    width: 100vw;
    /* z-index: 999; */
}

.contact-separate
{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.fading-orang
{
    transition: all 0.25s;
}

.fading-orang:hover
{
    color: #e96b56;
}


.home-header-contact
{
    background-color: #3c3c3c ;
    padding: 1.25vh 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-contact-left
{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1.75vw;
}

.home-header-contact-right
{
    display: flex;
    align-items: center;
    gap: 1.45vw;
}



.home-header-contact-left-email>a:hover
{
    border-bottom: 1px #e96b56 solid ;
}
/* / */

/* header part 2 */

.home-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5vh 8vw;}

.home-header-nav-left{
    padding-left: 1vw;
}

.home-header-nav-left-logo
{
    font-size: 2vw;
    border-left: 10px #e96b56 solid;
    padding-left: 1vw;
}

.home-header-nav-hambutton
{
    display: none;
}

.home-header-nav-right
{
    display: flex;
}


.home-header-nav-right-item
{
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
}

.separat
{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.dropdown-og
{
    padding-bottom: 6vh; 
}

.home-header-nav-right-dropdown-menu
{
    display: none;
    background-color: white;
    position: absolute;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    transition: all 0.5s;
    padding-block: 1vh;
}

.drop-padding
{
    padding: 10px;
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown-menu
{
    display: none;
    background-color: white;
    position:absolute;
    width: max-content;
    right: 100%;
    top: 19%;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    transition: all 0.5s;
    padding-block: 1vh;
}

.deep-drop-padding
{
    padding: 10px;
    padding-right: 4vw;
    display: flex;
}

.home-header-nav-right-dropdown:hover ~  .home-header-nav-right-dropdown-menu
{
    display: flex;
}

.home-header-nav-right-dropdown-menu:hover
{
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown:hover ~ .home-header-nav-right-dropdown-DeepDropdown-menu
{
    display: flex;
}

.home-header-nav-right-dropdown-DeepDropdown-menu:hover
{
    display: flex;
}
/* fin header part 2 */

/* *fin header */

/* *mid1 */

.mid1
/* {

    background-position: 100% 49%;
    background-size: cover;
    height: 71vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.mid1-chevron-right ,.mid1-chevron-left
{
    background-color: transparent;
    border: none;
    color: #ff6600;
    width: 10%;
    /* position: absolute; *
} */

.carousel-item {
  height: 70vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* * */



/* *mid2 */

/* TODO : FIX SVG COLOR TO ORANGE */

.strchlink
{
    margin-top: 4vh;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2vw;
    /* background-color: aqua; */
    margin-inline: 10vw;
}

.mid2-item
{
    display: flex;
    gap: 1vh;
    position: relative;
    flex-direction: column;
    color: black;
    padding: 7vh 2vw 2vh;
    transform: translateY(50px);
    animation: riseup 1s forwards;
    opacity: 0;
    
}


@keyframes riseup
{
   to
   {
    transform: translate(0);
    opacity: 1;
}
}



.strchlink :hover
{
    color: white;
}




.mid2-item::before
{
    content: "";
    position: absolute;  
    left: 0;
    top: 0;
    background-color: #d9534f;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s ease;
}

.mid2-item:hover::before
{
    transform: scaleY(1);
}



.mid2-item:nth-child(1)
{
    animation-delay: 0s;
}

.mid2-item:nth-child(2)
{
    animation-delay: 0.1s;
}
.mid2-item:nth-child(3)
{
    animation-delay: 0.2s;
}

.mid2-item>p
{
    width: 70%;
}



/* * fin mid2*/


/* *mid3 */

.mid3{
    display: flex;
    gap: 2vw;
    margin-inline: 10vw;
    margin-top: 10vh;
}

.mid3-right
{
    width: 100%;
    background-color: red;
    margin-top: 1vh;
}
.mid3-left  
{
    width: 100%;
    /* background-color: gold; */
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.mid3-right>img
{
    width: 100%;
    
}
.mid3-left>ul>li
{
    display: flex;
    margin-left: -30px;
    gap: 0.5vw;
}

li>svg
{
    flex-shrink: 0;
}
.bi2{
    color: #ffee00;
}
.logo {
    color: #272727;
    font-size: 1.5vw; 
}




/* *fin mid3 */