*{
    margin: 0px;
    padding: 0px;
}
    .topbar {
      background: #2b2b2b;
      color: #ffffff;
      font-size: 14px;
      padding: 5px 0;
    }

    .topbar a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 20px;
    }

    .navbar-nav .nav-link.active {
      color: #d9534f !important; 
    }
.container1-about {
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
}
.container1-about div a {
    text-decoration: none;
    color: black;
    font-size: 0.8vw;
    font-weight: 600;
}
.container1-about div a:hover {
    color: #ff6600;
}
.container1-about div {
    margin-left: 5vw;
    margin-top: 1vw;
}
.container1-about h1 {
    margin-left: 5vw;
}
.nav-link:hover {
    color: #ff6600;
}
.bi:hover {
    color: #ff6600;
}